form {
  display: flex;
  flex-direction: column;
  width: 15%;
  row-gap: 10px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

input {
  padding: 10px;
  font-size: 0.9rem;
}

button[type='submit'] {
  padding: 10px;
  background-color: #0290ff;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
}
